<div class="row div-with-buttons">
    <div class="col-4">
        <span>
            <button class="button-create-note" (click)="OnClickCallbackCreateNode()">Create note</button>
        </span>
    </div>
    <div class="col-4">
        <span>
            <button class="button-create-note" (click)="OnClickCallbackUpdateNode()">Update selected note</button>
        </span>
    </div>
    <div class="col-4">
        <span>
            <button class="button-create-note" (click)="OnClickCallbackDeleteNode()">Delete selected note</button>
        </span>
    </div>
</div>
<ag-grid-angular
class="ag-theme-balham ag-grid"
[rowHeight]="rowHeight"
[rowData] = "rowData$ | async"
[columnDefs] = "columnDefs"
(gridReady)="onGridReady($event)"
rowSelection="multiple"
></ag-grid-angular>

