.ag-grid{
    width: 100%; 
    height: 900px; 
    font-size: 20px;
    margin-top: 15%;
}
.button-create-note{
    height:50px; 
    width:200px
}
.button-update-note{
    height:50px; 
    width:200px
}
.button-delete-note{
    margin-left: 2%;
    margin-top: 1%;
    height:50px; 
    width:100px;
}
.div-with-buttons{
    width:100%;
}
.note-title{
    margin-left: 10%;
    font-size: 30px !important;
    margin-top: 10%;
}
textarea {
    background: #fce9c0; /* Цвет фона */
    border: 2px solid #a9c358; 
    font-size: 25px;
    margin-left: 10%;
}
.note-body{
    margin-left: 10%;
    font-size: 30px !important;
    margin-top: 3%;
}
.button-edit-note{
    margin-left: 67%;
    margin-top: 1%;
    height:50px; 
    width:100px;
}

