<div class="row">
    <div>
        <button class="button-add-note" (click)="openAddDialog()">New note</button>
        <button class="button-download-logs" (click)="downloadFileWithLogs()">Download Logs</button>
    </div>
    <div class="col-3">
        <ag-grid-angular
            class="ag-theme-balham ag-grid"
            [rowHeight]="rowHeight"
            [rowData] = "notesData"
            [columnDefs] = "columnDefs"
            (gridReady)="onGridReady($event)"
            rowSelection="single"
            (rowClicked)="onRowClick()"
            (rowDataChanged)="onRowDataChanged()"
        ></ag-grid-angular>
    </div>
    <div class="col-9">
        <div *ngIf="rowIsSelected">
                <div class = "note-title">
                    Title:
                </div>
                <div>
                    <textarea rows="3" cols="100" readonly>{{selectedData.title}}</textarea>
                </div>
                <div class = "note-body">
                    Body:
                </div>
                <div>
                    <textarea rows="10" cols="100" readonly>{{selectedData.body}}</textarea>
                </div>
                <div>
                        <button class="button-edit-note" (click)="openEditDialog()">Edit note</button>
                        <button class="button-delete-note" (click)="onDeleteNode()">Delete note</button>
                </div>
        </div>
    </div>
</div>

